<!-- <div class="container">
	<div class="col-12 col-md-10 col-lg-12">
		<div class="input-group my-3">
			<input id="SearchProds" placeholder="Search" type="text" class="form-control" aria-label="Search Products"
				v-model="searchTerm" />
			<div class="input-group-append">

				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Sort by
					<span class="caret"></span>
				</button>

				<div class="dropdown-menu dropdown-menu-right">
					<a href="#" class="dropdown-item d-flex justify-content-between" id="building"
						@click="$emit('requestKey', 'building')">
						Building
						<font-awesome-icon icon="check" v-if="myKey==='model'" />
					</a>
					<a href="#" class="dropdown-item d-flex justify-content-between" id="room"
						@click="$emit('requestKey', 'room')">
						Room
						<font-awesome-icon icon="check" v-if="myKey==='room'" />
					</a>
					<a class="dropdown-item d-flex justify-content-between" href="#" id="assigned_frequency"
						@click="$emit('requestKey', 'assigned_frequency')">
						frequency_band
						<font-awesome-icon icon="check" v-if="myKey==='assigned_frequency'" />
					</a>



					<div class="dropdown-divider" role="separator"></div>
					<a class="dropdown-item d-flex justify-content-between" href="#" id="asc"
						@click="$emit('requestDir', 'asc')">
						Asc
						<font-awesome-icon icon="check" v-if="myDir==='asc'" />
					</a>
					<a class="dropdown-item d-flex justify-content-between" href="#" id="desc"
						@click="$emit('requestDir', 'desc')">
						Desc
						<font-awesome-icon icon="check" v-if="myDir==='desc'" />
					</a>
				</div>


			</div>
		</div>
	</div>
</div>




<div>
	<div class="col-12 col-md-10 col-lg-12">
		<b-input-group>
			<b-input id="SearchProds" placeholder="Search" type="text" class="form-control" aria-label="Search Products"
				v-model="searchTerm" />
			<b-input-group-append>
				<b-dropdown id="dropdown-1" text="Dropdown Button" class="m-md-2">
					<b-dropdown-item d-flex justify-content-between id="building"
						@click="$emit('requestKey', 'building')">
						Buildingn</b-dropdown-item>

					<b-dropdown-item d-flex justify-content-between id="room" @click="$emit('requestKey', 'room')"> Room
					</b-dropdown-item>

					<b-dropdown-item d-flex justify-content-between href="#" id="assigned_frequency"
						@click="$emit('requestKey', 'assigned_frequency')">assigned_frequency</b-dropdown-item>

					<b-dropdown-divider></b-dropdown-divider>

					<b-dropdown-item d-flex justify-content-between href="#" id="asc"
						@click="$emit('requestDir', 'asc')">
						Asc</b-dropdown-item>

					<b-dropdown-item d-flex justify-content-between href="#" id="desc"
						@click="$emit('requestDir', 'desc')">Desc</b-dropdown-item>
				</b-dropdown>
	</div>
</div> -->




<!-- <div class="col-12 col-md-10 col-lg-12">
			<div class="input-group my-3">
				<input
					id="SearchProds"
					placeholder="Search"
					type="text"
					class="form-control"
					aria-label="Search Products"
					v-model="searchTerm"
				/>
				<div class="input-group-append">
					<button
						type="button"
						class="btn btn-primary dropdown-toggle"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						Sort by
						<span class="caret"></span>
					</button>

					<div class="dropdown-menu dropdown-menu-right">
						<a
							href="#"
							class="dropdown-item d-flex justify-content-between"
							id="building"
							@click="$emit('requestKey', 'building')"
						>
							Building
							<font-awesome-icon icon="check" v-if="myKey==='model'" />
						</a>

						<a
							href="#"
							class="dropdown-item d-flex justify-content-between"
							id="room"
							@click="$emit('requestKey', 'room')"
						>
							Room
							<font-awesome-icon icon="check" v-if="myKey==='room'" />
						</a>

						<a
							class="dropdown-item d-flex justify-content-between"
							href="#"
							id="assigned_frequency"
							@click="$emit('requestKey', 'assigned_frequency')"
						>
							frequency_band
							<font-awesome-icon icon="check" v-if="myKey==='assigned_frequency'" />
						</a>

						<div class="dropdown-divider" role="separator"></div>

						<a
							class="dropdown-item d-flex justify-content-between"
							href="#"
							id="asc"
							@click="$emit('requestDir', 'asc')"
						>
							Asc
							<font-awesome-icon icon="check" v-if="myDir==='asc'" />
						</a>

						<a
							class="dropdown-item d-flex justify-content-between"
							href="#"
							id="desc"
							@click="$emit('requestDir', 'desc')"
						>
							Desc
							<font-awesome-icon icon="check" v-if="myDir==='desc'" />
						</a>
					</div>
				</div>
			</div>
		</div> -->
<!-- </div> -->

<!-- <b-button
				btn
				btn-primary
				dropdown-toggle
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
			>
				Sort by
				<span class="caret"></span>
			</b-button>-->


<!-- <div id="app">
	<div class="container">
		<b-navbar toggleable="md" type="dark" class="nav-background">
			<b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
			<b-navbar-brand href="#">Wireless App</b-navbar-brand>
			<b-collapse is-nav id="nav_collapse">
				<b-navbar-nav>
					<b-nav-item v-for="link in links" :key="link">
						<router-link exact :to="paths[link]">{{ link }}</router-link>
					</b-nav-item>
				</b-navbar-nav>
				<!-- Right aligned nav items -->
<!-- <b-navbar-nav class="ml-auto">
	<b-nav-item-dropdown right>
		<!-- Using button-content slot -->
<!-- <template slot="button-content">
			<em>User</em>
		</template>
		<b-dropdown-item href="#">Profile</b-dropdown-item>
		<b-dropdown-item href="#">Signout</b-dropdown-item>
	</b-nav-item-dropdown>
</b-navbar-nav>
</b-collapse>
</b-navbar>
<main>
	<router-view></router-view>
</main>
</div>
</div> 
<script> -->
-- >
// #
// app {
// font - family: "Avenir", Helvetica, Arial, sans - serif; -
// webkit - font - smoothing: antialiased; -
// moz - osx - font - smoothing: grayscale;
// /* text-align: center; */
// color: #2c3e50;
// }
// body {
// background: # eef1f4!important;
// }

// .nav - background {
// background: #353535;
// }
// .nav - link a {
// text - decoration: none;
// color: # e9ecef;
// display: block;
// }


// </style>


// <div>
	// <h1>Register</h1>
	// <form class="custom-form" v-on:submit.prevent="onSubmit">
		// <div class="form-group">
			// <label for="username">First Name</label>
			// <input v-model="first" type="text" class="form-control" id="first" placeholder="First Name" />
			// </div>
		// <div class="form-group">
			// <label for="username">Last Name</label>
			// <input v-model="last" type="text" class="form-control" id="last" placeholder="Last Name" />
			// </div>
		// <div class="form-group">
			// <label for="username">Username</label>
			// <input v-model="username" type="text" class="form-control" id="username" placeholder="Username" />
			// </div>
		// <div class="form-group">
			// <label for="password">Password</label>
			// <input // v-model="password" // type="password" // class="form-control" //
				id="password" // //placeholder="Password" // />
			// </div>
		// <div class="form-group">
			// <button type="submit" class="btn btn-secondary">Register</button>
			// </div>
		// </form>
	// </div>

// mdb-input placeholder="Recipient's Username" basic class="mb-3">
// <span class="input-group-text" slot="append">@example.com</span>
// </mdb-input>



// template>
// <div id="app">
	// <b-container>
		// <b-row align-h="center" class="mt-5">
			// <b-col cols="5">
				// <b-card class="p-3">
					// <h3 class="mb-4">Login</h3>
					// <a href="#" v-b-modal.modal1>Register</a>
					// <b-form @submit="onSubmit" @reset="onReset" v-if="show">
						// <b-form-group id="exampleInputGroup1" label="Email address:" label-for="email">
							// <b-form-input id="email" type="email" v-model="form.email" required //
								placeholder="Enter email"></b-form-input>
							// </b-form-group>
						// <b-form-group id="password" label="Password:" label-for="password">
							// <b-form-input id="password" type="password" v-model="form.password" required //
								placeholder="Enter password"></b-form-input>
							// </b-form-group>
						// <b-form-group id="exampleGroup4">
							// <b-form-checkbox-group v-model="form.checked" id="exampleChecks">
								// <b-form-checkbox value="remember">Remember me</b-form-checkbox>
								// </b-form-checkbox-group>
							// </b-form-group>
						// <div class="d-flex justify-content-between">
							// <div>
								// <b-button type="submit" variant="primary">Submit</b-button>&nbsp;
								// <b-button type="reset" variant="danger">Reset</b-button>
								// </div>
							// <div>
								// <a href="#" v-b-modal.modal1>Forgot Password</a>
								// </div>
							// </div>
						// </b-form>
					// </b-card>
				// </b-col>
			// </b-row>
		// </b-container>
	// <b-modal id="modal1" title="Forgot Password"></b-modal>
	// </div>
// </template>


// <template>
	// <Page>
		// <FlexboxLayout class="page">
			// <StackLayout class="form">
				//
				<Image class="logo" src="~/images/logo.png" />
				// <Label class="header" text="APP NAME" />

				// <StackLayout class="input-field" marginBottom="25">
					//
					<TextField class="input" hint="Email" keyboardType="email" autocorrect="false" //
						autocapitalizationType="none" v-model="user.email" returnKeyType="next" //
						@returnPress="focusPassword" fontSize="18" />
					//
					<StackLayout class="hr-light" />
					// </StackLayout>

				// <StackLayout class="input-field" marginBottom="25">
					//
					<TextField ref="password" class="input" hint="Password" secure="true" v-model="user.password" //
						:returnKeyType="isLoggingIn ? 'done' : 'next'" @returnPress="focusConfirmPassword" //
						fontSize="18" />
					//
					<StackLayout class="hr-light" />
					// </StackLayout>

				// <StackLayout v-show="!isLoggingIn" class="input-field">
					//
					<TextField ref="confirmPassword" class="input" hint="Confirm password" secure="true" //
						v-model="user.confirmPassword" returnKeyType="done" fontSize="18" />
					//
					<StackLayout class="hr-light" />
					// </StackLayout>

				// <Button :text="isLoggingIn ? 'Log In' : 'Sign Up'" @tap="submit" class="btn btn-primary m-t-20" />
				// <Label v-show="isLoggingIn" text="Forgot your password?" class="login-label" @tap="forgotPassword" />
				// </StackLayout>

			// <Label class="login-label sign-up-label" @tap="toggleForm">
				// <FormattedString>
					// <Span :text="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'" />
					// <Span :text="isLoggingIn ? 'Sign up' : ''" class="bold" />
					// </FormattedString>
				// </Label>
			// </FlexboxLayout>
		// </Page>
	// </template>

// <script>
	// 	// A stub for a service that authenticates users.
	// 	const userService = {
	// 		register(user) {
	// 			return Promise.resolve(user);
	// 		},
	// 		login(user) {
	// 			return Promise.resolve(user);
	// 		},
	// 		resetPassword(email) {
	// 			return Promise.resolve(email);
	// 		}
	// 	};

	// A stub for the main page of your app. In a real app you’d put this page in its own .vue file.
	const HomePage = {
		template: `
// <Page>
// 	<Label class="m-20" textWrap="true" text="You have successfully authenticated. This is where you build your core application functionality."></Label>
// </Page>
// `
	};

	// 	export default {
	// 		data() {
	// 			return {
	// 				isLoggingIn: true,
	// 				user: {
	// 					email: "foo@foo.com",
	// 					password: "foo",
	// 					confirmPassword: "foo"
	// 				}
	// 			};
	// 		},
	// 		methods: {
	// 			toggleForm() {
	// 				this.isLoggingIn = !this.isLoggingIn;
	// 			},

	// 			submit() {
	// 				if (!this.user.email || !this.user.password) {
	// 					this.alert(
	// 						"Please provide both an email address and password."
	// 					);
	// 					return;
	// 				}
	// 				if (this.isLoggingIn) {
	// 					this.login();
	// 				} else {
	// 					this.register();
	// 				}
	// 			},

	// 			login() {
	// 				userService
	// 					.login(this.user)
	// 					.then(() => {
	// 						this.$navigateTo(HomePage);
	// 					})
	// 					.catch(() => {
	// 						this.alert("Unfortunately we could not find your account.");
	// 					});
	// 			},

	// 			register() {
	// 				if (this.user.password != this.user.confirmPassword) {
	// 					this.alert("Your passwords do not match.");
	// 					return;
	// 				}

	// 				userService
	// 					.register(this.user)
	// 					.then(() => {
	// 						this.alert("Your account was successfully created.");
	// 						this.isLoggingIn = true;
	// 					})
	// 					.catch(() => {
	// 						this.alert(
	// 							"Unfortunately we were unable to create your account."
	// 						);
	// 					});
	// 			},

	// 			forgotPassword() {
	// 				prompt({
	// 					title: "Forgot Password",
	// 					message: "Enter the email address you used to register for APP NAME to reset your password.",
	// 					inputType: "email",
	// 					defaultText: "",
	// 					okButtonText: "Ok",
	// 					cancelButtonText: "Cancel"
	// 				}).then(data => {
	// 					if (data.result) {
	// 						userService
	// 							.resetPassword(data.text.trim())
	// 							.then(() => {
	// 								this.alert(
	// 									"Your password was successfully reset. Please check your email for instructions on choosing a new password."
	// 								);
	// 							})
	// 							.catch(() => {
	// 								this.alert(
	// 									"Unfortunately, an error occurred resetting your password."
	// 								);
	// 							});
	// 					}
	// 				});
	// 			},

	// 			focusPassword() {
	// 				this.$refs.password.nativeView.focus();
	// 			},
	// 			focusConfirmPassword() {
	// 				if (!this.isLoggingIn) {
	// 					this.$refs.confirmPassword.nativeView.focus();
	// 				}
	// 			},

	// 			alert(message) {
	// 				return alert({
	// 					title: "APP NAME",
	// 					okButtonText: "OK",
	// 					message: message
	// 				});
	// 			}
	// 		}
	// 	};
	// 
</script>

<style scoped>
	/* .page {
			align-items: center;
			flex-direction: column;
		}

		.form {
			margin-left: 30;
			margin-right: 30;
			flex-grow: 2;
			vertical-align: middle;
		}

		.logo {
			margin-bottom: 12;
			height: 90;
			font-weight: bold;
		}

		.header {
			horizontal-align: center;
			font-size: 25;
			font-weight: 600;
			margin-bottom: 70;
			text-align: center;
			color: #D51A1A;
		}

		.input-field {
			margin-bottom: 25;
		}

		.input {
			font-size: 18;
			placeholder-color: #A8A8A8;
		}

		.input-field .input {
			font-size: 54;
		}

		.btn-primary {
			height: 50;
			margin: 30 5 15 5;
			background-color: #D51A1A;
			border-radius: 5;
			font-size: 20;
			font-weight: 600;
		}

		.login-label {
			horizontal-align: center;
			color: #A8A8A8;
			font-size: 16;
		}

		.sign-up-label {
			margin-bottom: 20;
		}

		.bold {
			color: #000000;
		} */
</style>