body {
    background-image: grey;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* color: white; */
    display: flex;
}

.container {
    margin: auto;
    text-align: center;
}

#currentWord {
    letter-spacing: 10px;
}

.startBtn {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

.startBtn:hover {
    background-color: #4095c6;
}

@media all and (max-width:30em) {
    .startBtn {
        display: block;
        margin: 0.2em auto;
    }
}



.restartBtn {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #29A829;
    text-align: center;
    transition: all 0.2s;

    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    0% {
        background-color: #32CD32;
        -webkit-box-shadow: 0 0 3px #32CD32;
    }

    50% {
        background-color: #32CD32;
        -webkit-box-shadow: 0 0 40px #32CD32;
    }

    100% {
        background-color: #32CD32;
        -webkit-box-shadow: 0 0 3px #32CD32;
    }
}