//  @import '~bootstrap/scss/bootstrap';

/* box sizing: http://www.paulirish.com/2012/box-sizing-border-box-ftw */
//  * {
//      -webkit-box-sizing: border-box;
//      -moz-box-sizing: border-box;
//      box-sizing: border-box;
//  }

html {
    // font-size: 62.5%;
    /* http://snook.ca/archives/html_and_css/font-size-with-rem */
    color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* Have the scroll bars always on so there's not a shift in the layout
    when going from a non-scrolling page to a scrolling-page */
    overflow-y: scroll;
}

body {
    /* Default font-size */
    // font-size: 1.6rem;

    /* sticky footer - match footer height */
    //     margin-bottom: 60px;
    // }


    /*----------------------------------------------------
VARIABLES
-----------------------------------------------------*/
    $radius: 5px;

    /* https: //clrs.cc/ */
    //  $aqua: #7FDBFF;
    //  $blue: #0074D9;
    //  $navy: #001F3F;
    //  $teal: #39CCCC;
    //  $green: #2ECC40;
    //  $olive: #3D9970;
    //  $lime: #01FF70;

    //  $yellow: #FFDC00;
    //  $orange: #FF851B;
    //  $red: #FF4136;
    //  $fuchsia: #F012BE;
    //  $purple: #B10DC9;
    //  $maroon: #85144B;

    //  $white: #FFFFFF;
    //  $silver: #DDDDDD;
    //  $gray: #AAAAAA;
    //  $black: #111111;

    //  /*----------------------------------------------------
    // GENERAL PAGE LAYOUT/DESIGN
    // -----------------------------------------------------*/
    //  #app {
    //      max-width: 800px;
    //      width: 100%;
    //      margin: auto;
    //      padding-bottom: 20px;
    //      text-align: center;
    //  }

    //  header {
    //      text-align: center;
    //      margin-top: 20px;
    //  }

    //  #logo {
    //      /* Actual width is 636; displaying at half-size for retina screens */
    //      width: 318px;
    //  }

    //  nav ul {
    //      list-style-type: none;

    //      li {
    //          display: inline-block;

    //          a:link,
    //          a:visited,
    //          a:active,
    //          a:hover {
    //              text-transform: capitalize;
    //              padding: 5px;
    //              margin: 5px;
    //              cursor: pointer;
    //              color: $blue;
    //          }

    //          a:hover {
    //              background-color: $blue;
    //              color: white;
    //              text-decoration: none;
    //          }

    //          a.router-link-active:link,
    //          a.router-link-active:visited,
    //          a.router-link-active:active,
    //          a.router-link-active:hover {
    //              text-decoration: none;
    //              color: $black;
    //              background-color: white;
    //              cursor: inherit;
    //          }
    //      }
    //  }


    //  /*----------------------------------------------------
    // PAGE SPECIFIC
    // -----------------------------------------------------*/
    //  #products {
    //      .product {
    //          width: 75%;
    //          margin: auto;
    //          margin-bottom: 20px;
    //          border: 1px solid black;
    //          padding: 20px;

    //          .product-name {
    //              font-weight: bold;
    //              font-size: 2.0rem;
    //              margin: 5px 0 0 0;
    //          }

    //          .product-thumb {
    //              width: 200px;
    //          }

    //          .product-description {
    //              width: 75%;
    //              margin: auto;
    //              text-align: left;
    //              font-style: italic;
    //          }

    //          .product-price {
    //              font-family: Georgia, 'Times New Roman', Times, serif;
    //              font-weight: bold;
    //              font-size: 2.0rem;
    //          }
    //      }
    //  }

    //  #featured {
    //      background-color: lighten($aqua, 10%);
    //      border-radius: $radius;
    //      padding: 10px;
    //  }

    /*----------------------------------------------------
MISC
-----------------------------------------------------*/
    .cleanList {
        list-style-type: none;
        padding: 0;
    }


    /*----------------------------------------------------
        Cards CSS
-----------------------------------------------------*/

    //  div.card {
    //      font-family: "Open Sans", sans-serif;
    //      width: 350px;
    //      height: 270px;
    //      padding: 20px;
    //      display: flex;
    //      flex-direction: column;
    //      margin-left: 20px;
    //      margin-right: 20px;

    //      &.blowUp {
    //          animation: blowUp 0.5s;
    //          animation-fill-mode: forwards;
    //      }

    //      &.collapse {
    //          animation: collapse 0.5s;
    //          //animation-fill-mode: forwards;
    //      }

    //      @keyframes blowUp {
    //          from {
    //              width: 330px;
    //              height: 270px;
    //          }

    //          to {
    //              width: 400px;
    //              height: 340px;
    //          }
    //      }

    //      @keyframes collapse {
    //          from {
    //              width: 400px;
    //              height: 340px;
    //          }

    //          to {
    //              width: 330px;
    //              height: 270px;
    //          }
    //      }

    //  div .card-header {
    //      display: flex;
    //      width: 90%;
    //      height: 50px;
    //      max-height: 50px;
    //      align-items: center;
    //      justify-content: space-between;
    //      flex: 1 0 auto;

    //      i {
    //          color: white;
    //          padding-right: 25px;
    //      }

    //      h1.card-header-title {
    //          padding-left: 25px;
    //          margin: 0;
    //          color: white;
    //          line-height: 65px;
    //          font-weight: 400;
    //      }
    //  }

    //  div.card-content {
    //      padding: 25px;
    //      flex: 1 0 auto;

    //      p.card-content-text {
    //          margin: 0;
    //          color: white;
    //          letter-spacing: 1px;
    //      }
    //  }

    //  div.card-footer {
    //      height: 40px;
    //      display: flex;
    //      justify-content: flex-end;

    //      flex-shrink: 0;

    //      i {
    //          color: white;
    //          position: relative;
    //          right: 20px;

    //          &.moveRight {
    //              animation-name: moveRight;
    //              animation-duration: 0.2s;
    //              animation-fill-mode: forwards;
    //              animation-timing-function: ease-in;
    //          }

    //          @keyframes moveRight {
    //              from {
    //                  right: 20px;
    //              }

    //              to {
    //                  right: 15px;
    //              }
    //          }

    //          &.moveLeft {
    //              animation-name: moveLeft;
    //              animation-duration: 0.4s;
    //              animation-fill-mode: forwards;
    //              animation-timing-function: ease-out;
    //          }

    //          @keyframes moveLeft {
    //              from {
    //                  right: 15px;
    //              }

    //              to {
    //                  right: 20px;
    //              }
    //          }
    //      }
    //  }
    //  }

    //  div.card:nth-child(1) {
    //      background-color: #3498db;

    //      div.card-header {
    //          background-color: #2980b9;
    //      }
    //  }

    //  div.card:nth-child(2) {
    //      background-color: #34495e;

    //      div.card-header {
    //          background-color: #2c3e50;
    //      }
    //  }

    //  div.card:nth-child(3) {
    //      background-color: #9b59b6;

    //      div.card-header {
    //          background-color: #8e44ad;
    //      }
    //  }

    //  div.row {
    //      display: flex;
    //      justify-content: center;
    //      margin-top: 100px;
    //  }

    //  div.card {
    //      margin: 30px;
    //  }